<div
  th:fragment="chatbotCard"
  class="bg-light d-flex flex-column min-vh-100"
  id="chatbot-body"
>
  <!-- 서버/페이지 컨텍스트 -->
  <input type="hidden" id="ctxTemp" th:value="${ctxTemp}" />
  <input type="hidden" id="ctxLoc" th:value="${ctxLoc}" />
  <input type="hidden" id="ctxDate" th:value="${ctxDate}" />
  <input type="hidden" id="ctxLat" th:value="${ctxLat}" />
  <input type="hidden" id="ctxLon" th:value="${ctxLon}" />
  <!-- ★ 로그인 여부 -->
  <input type="hidden" id="ctxLoggedIn" th:value="${isLoggedIn}" />

  <div class="container chat-container flex-grow-1">
    <div class="col-md-12 chatbot">
      <div class="chat-box" id="chatBox"></div>

      <div class="chat-input">
        <div class="input-section">
          <textarea
            id="msgInput"
            class="form-control"
            rows="1"
            placeholder="메시지를 입력하세요..."
          ></textarea>
          <button id="sendBtn" class="send" type="button">
            <i class="send-btn bi bi-send"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
